<script src='../messages.js'></script>
<script src='../uiIntiaizations.js'></script>

<script>

$(document).ready(function(){
   initializeMaterialComponents();
 });

var res = '<%=result%>';
successOrErrorMessages(res);

    $('#save-note').click(function() {
        //$http.post("http://localhost:3003/account/postArticle").then(successCallback(), errorCallback());
        submit();
    });

    expandArticleInModal();

    function successCallback(){
      alert('Success');
    }

</script>
</body>

</html>
