<script src='../messages.js'></script>
<script src='../uiIntiaizations.js'></script>

<script>

$(document).ready(function(){
   initializeMaterialComponents();
 });

var res = '<%=result%>';
successOrErrorMessages(res);

expandArticleInModal();

function successCallback(){
  alert('Success');
}

</script>
</body>

</html>
